{% extends "base.html" %}

{% block content %}
{% load bootstrap %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
    
                <h1>Sign Up</h1>
                <small>It's Free and always will be!</small>
                <form method="post">{% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            

{% endblock %}
