{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron-fluid bg-info">
            <div class="topnav" id="myTopnav">
                <a href="/" class="active">Home</a>
                <a href="/cricket">Cricket</a>
                <a href="#href">Business</a>
                <a href="#about">About</a>
                <a href="#href">Entertainment</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                <form method="POST">
                    <input type="text" placeholder="Search.." value="search">
                </form>
            </div>
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
</html>

